body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: relative; 
    overflow: hidden;
}
#scoreContainer {
    position: absolute;
    top: 10%;
    left: 15%; 
    color: white;
    font-size: 25px;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.345);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    width: auto; 
}
#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px; /* Samma bredd som spelområdet */
    height: 620px; /* Samma höjd som spelområdet */
}
#gameArea {
    scale: 1.5; /* Skala upp spelområdet */
    display: grid;
    width: 560px;
    height: 620px;
    grid-template-columns: repeat(28, 20px);
    grid-template-rows: repeat(31, 20px);
    background-color: rgb(0, 0, 0);
    position: relative;
}
#pacman {
    width: 100%; 
    height: 100%;
    background-color: yellow;
    border-radius: 50%;
}
.dot {
    width: 20%; 
    height: 20%;
    background-color: rgb(255, 191, 191);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.wall {
    background-color: rgb(0, 0, 142);
    width: 20px;
    height: 20px;
}
#ghost {
    width: 15px;
    height: 15px; 
    background-color: red;
    border-radius: 50%; 
    transform: translate(15%, 15%);
    position: absolute;
}
#ghost2, #ghost3, #ghost4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    transform: translate(15%, 15%);
}